.group1 {
    position: absolute;
    width: 65.25px;
    height: 112.49px;
    left: 34rem;
    top: 11px;
}
.group2 {
    position: absolute;
    width: 65.25px;
    height: 112.49px;
    left: 55.5rem;
    top: 28rem;
}